.iconLink {
  color: white;
}

.headerLink {
  text-decoration: none;
}

.linkMenuTable {
  text-decoration: none;
}

.myoTableWidth-sm {
  width: 10%;
}

.myoTableMenu {
  width: 90%;
  margin: auto;
}

#myoMenuGrup {
  width: 96%;
  margin: auto;
}

#myoFooter{
  margin-top: 20px;
  font-size: 0.6rem;
}

#myoFooter a{
  text-decoration: none;
  color: orange;
}
